#nav-container{
    background: linear-gradient(rgb(47, 47, 53),rgb(0, 134, 196));
}

html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
}

#Email_address{
    color: rgb(0, 0, 134);
    font-weight: 600;
}